
<div class="row">
    <h1>{{categoryTitle}}</h1>
</div>
<div class="row">
     <div class="col-xs-8 col-sm-4 col-md-6 col-lg-4" ng-repeat="recipe in dataSet" ng-click="getDetails(recipe.id)">
            <div class="panel panel-default panel-preview related">
              <div class="panel-body">
                <div class="image">
                    <img src="http://placehold.it/220x220">
                </div>
                <h2 class="panel-title">{{recipe.name}}</h2>
                <span class="glyphicon glyphicon-star" ng-repeat="star in getStars(recipe.rating) track by $index"></span>
                <span class="glyphicon glyphicon-star-empty" ng-repeat="star in getEmptyStars(recipe.rating) track by $index"></span>
              </div>
            </div>
        </div>
</div>
