
<div class="row">
    <div class="col-sm-12">
        <h2>Comentários</h2>
    </div><!-- /col-sm-12 -->
</div><!-- /row -->
<br>
<div class="row" ng-repeat="item in dataSet">
    <div class="col-sm-1">
        <div class="thumbnail">
            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-md-7">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <strong>{{item.user}}</strong> <span class="text-muted">{{item.timeAgo}}</span>
            </div>
            <div class="panel-body">
                {{item.comment}}
            </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
</div>
