

<div class="row">
    <h1>Destaques</h1>
</div>


<div ng-repeat="item in dataSet">
    <div class="row pointer" ng-click="getCategory(item.category)">
        <h2>{{item.category}}</h2>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-4 pointer" ng-repeat="recipe in item.recipes" ng-click="getDetails(recipe.id)">
            <div class="panel panel-warning panel-preview related">
              <div class="panel-body">
                <div class="image">
                    <img src="http://placehold.it/220x220">
                </div>
                <h2 class="panel-title">{{recipe.name}}</h2>
                <span class="glyphicon glyphicon-star" ng-repeat="star in utils.getArray(recipe.rating) track by $index"></span>
                <span class="glyphicon glyphicon-star-empty" ng-repeat="star in utils.getArray(5-recipe.rating) track by $index"></span>
              </div>
            </div>
        </div>
    </div>
</div>

