

<div class="row">
    <h1>Destaques</h1>
</div>



<div class="row">
    <h2>Salgados</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Escondidinho de carne</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Frango a passarinho</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Macarrão com salsicha</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>  
    </div>
</div>
<div class="row">
    <h2>Doces</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Escondidinho de carne</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Frango a passarinho</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Macarrão com salsicha</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>  
    </div>
</div>

<div class="row">
    <h2>Bebidas</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Escondidinho de carne</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Frango a passarinho</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Macarrão com salsicha</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>  
    </div>
</div>
<div class="row">
    <h1>Videos</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Escondidinho de carne</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default related">
          <div class="panel-body">
            <div class="image">

            </div>
            <h2 class="panel-title">Frango a passarinho</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>

</div>

