<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-bar-left">
                <li class="active"><a href="#/">Home</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categorias <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="categoria in categs">
                            <a href="#/category/{{categoria}}">{{categoria}}</a>
                        </li>
                        
                    </ul>
                </li>
                <li><a href="">Contato</a></li>
                <li><a href="#/cadastro_receita">Cadastro de Receita</a></li>
                <li><a href="#/cadastro">Cadastro</a></li>
                <li><a href="#/login">Login</a></li>
                
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
