<h1>Relacionados</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-warning related panel-preview ">
          <div class="panel-body">
            <div class="image">
                <img src="http://placehold.it/220x220" hint="Sem imagem">
            </div>
            <h2 class="panel-title">Receita 1</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    
    

        <div class="panel panel-warning related panel-preview ">
          <div class="panel-body">
            <div class="image">
                <img src="http://placehold.it/220x220" hint="Sem imagem">
            </div>
            <h2 class="panel-title">Receita 2</h2>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
    </div>
    
</div>

