<h1>Relacionados</h1>
<div class="panel panel-default related">
  <div class="panel-body">
    <div class="image">
    
    </div>
    <h2 class="panel-title">Receita 1</h2>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </div>
</div>

<div class="panel panel-default related">
  <div class="panel-body">
    <div class="image">
    
    </div>
    <h2 class="panel-title">Escondidinho de carne bovina do himalaia a moda praiana outono 2015 remix retro</h2>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </div>
</div>

<div class="panel panel-default related">
  <div class="panel-body">
    <div class="image">
    
    </div>
    <h2 class="panel-title">Receita 3</h2>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </div>
</div>

<div class="panel panel-default related">
  <div class="panel-body">
    <div class="image">
    
    </div>
    <h2 class="panel-title">Receita 4</h2>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </div>
</div>

<div class="panel panel-default related">
  <div class="panel-body">
    <div class="image">
    
    </div>
    <h2 class="panel-title">Receita 5</h2>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </div>
</div>